<hello name="{{ name }}"></hello>

<div>
	<p>
		Question 1 : Diff between this and let.
	</p>
	<p>
		Let :
		<br>
    <br>
   "let" is used for declaring a variables.
    <br>
   It has block scope just like const, that is it can be accessacble inside the block it has been declared only.   
   <br>
    Means , when we declare a number with let within a for loop then that number has scope only within the loop. Tt becomes undefiened or throws exception when called before declaration. 
 </p>
 <p>
   this :
    <br>
    <br>
    The "this" keyword refers to the current instance of the class. Here, the parameter name and the name of the class’s field are the same. Hence to avoid ambiguity, the class’s field is prefixed with the this keyword.
 </p>
</div>